<div class="container" id="container" style="margin-top: 100px;">
    <div class="form-container sign-in-container">
        <form action="#" #login="ngForm" (ngSubmit)="saveLogin(login)">
            <h1 style="font-size:35px;margin-bottom: 40px;">Sign in</h1>
            <mat-form-field style="margin-bottom:15px;" class="example-full-width" >
                <input matInput type="email" placeholder="Email" name="email" [(ngModel)]="email" 
                    #emailinput="ngModel">
                <!-- <mat-error *ngIf="emailinput.hasError('required')">
                    <span style="color: red;">Please enter a valid email address</span>
                </mat-error> -->
            </mat-form-field>
            <mat-form-field class="mb-4">
                <input matInput type="password" placeholder="Password" name='password' [(ngModel)]="password" 
                    #passinput="ngModel">
                <!-- <mat-error *ngIf="passinput.hasError('required')">
                    <span style="color: red;"> Password is <strong>required</strong></span>
                </mat-error> -->
            </mat-form-field>
            <button (click)="click()" type="submit">Sign
                In</button>
            <mat-error *ngIf="_login==false">
                <span style="color: red;">The email address or username you entered isn't connected to an account.</span>
            </mat-error>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Hey there !</h1>
                <p>Not a member yet , start your journey with us here.</p>
                <button routerLink="/signup" href="" (click)="cl()" class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>