<div class="container" id="container" style="margin-top: 18vh;">
    <div class="form-container sign-in-container">
        <form action="#" #login="ngForm" (ngSubmit)="saveLogin(login)">
            <h1 style="font-size:35px;margin-bottom: 40px;">Sign in</h1>
            <mat-form-field style="margin-bottom:15px;" class="example-full-width">
                <input matInput type="email" placeholder="Email" name="email" [(ngModel)]="email" required
                    #emailinput="ngModel">
                <mat-error *ngIf="emailinput.hasError('required')">
                    <span style="color: red;">Please enter a valid email address</span>
                </mat-error>
            </mat-form-field>
            <!-- <input type="text" placeholder="Email" name="email" [(ngModel)]="email" required
                #emailinput="ngModel" />
            <mat-error *ngIf="">
                <span style="color: red;">email/user does not exist</span>
            </mat-error> -->
            <mat-form-field class="mb-4">
                <input matInput type="password" placeholder="Password" name='password' [(ngModel)]="password" required
                    #passinput="ngModel">
                <mat-error *ngIf="passinput.hasError('required')">
                    <span style="color: red;"> Password is <strong>required</strong></span>
                </mat-error>
            </mat-form-field>
            <!-- <input type="password" placeholder="Password" name='password' [(ngModel)]="password" required
                #passinput="ngModel" />
            <mat-error *ngIf="passinput.hasError('required')">
                <span style="color: red;"> Password is <strong>required</strong></span>
            </mat-error> -->
            <button (click)="click()" type="submit">Sign
                In</button>
            <mat-error *ngIf="_login==false">
                <span style="color: red;">------> No user found ! <-------</span>
            </mat-error>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Hey there !</h1>
                <p>Not a member yet , start your journey with us here.</p>
                <button routerLink="/signup" href="" (click)="cl()" class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col">
            <div class="sign">Sign in</div>
            <div class="here">here.</div>
        </div>
        <div class="col">
            <div class="full-width d-flex align-items-center">
                <form #login="ngForm" (ngSubmit)="saveLogin(login)" class="example-form rounded">
                    <div class="d-flex flex-column justify-content-center containerbox">
                        <div>
                            <mat-form-field class="example-full-width" class="logbtn" appearance="fill">
                                <input matInput type="email" placeholder="Email" class="inputstyle" name="email"
                                    [(ngModel)]="email" required #emailinput="ngModel">
                                <mat-error *ngIf="emailinput.hasError('required')">
                                    <span style="color: red;">Please enter a valid email address</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="fill" class="logbtn">
                                <input matInput class="inputstyle" type="password" placeholder="Password"
                                    name='password' [(ngModel)]="password" required #passinput="ngModel">
                                <mat-error *ngIf="passinput.hasError('required')">
                                    <span style="color: red;"> Password is <strong>required</strong></span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="p-2">
                            <button color="primary" *ngIf="_login==false" class="log" (click)="click()" type="submit"
                                >Log
                                in</button>
                            <button color="primary" *ngIf="_login" class="log" type="submit" routerLink="/navbar"
                                (click)="click()">Log
                                in</button>
                        </div>
                        <div>
                            Not a member ? <a routerLink="/signup" href="" (click)="cl()">sign up here</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div> -->