<div class="container" id="container" style="margin-top: 18vh;">
	<div class="form-container sign-in-container">
		<form action="#">
			<h1  style="font-size:35px;margin-bottom: 40px;">Register</h1>
            <input type="text" placeholder="Username" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Create Password" />
            <input type="password" placeholder="Confirm Password" style="margin-bottom:30px ;"/>
			<button>Sign up</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Register and start your journey with us.</h1>
			</div>
		</div>
	</div>
</div>

<!-- <div class="full-width d-flex justify-content-center align-items-center">
    <form class="example-form rounded " style="background-color: rgb(140, 129, 220); padding:20px ;">
        <div class="d-flex flex-column justify-content-center">
            <div style="font-size: 25px; padding-bottom :15px;">Create Your Account</div>
            <div class="p-2">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Create username</mat-label>
                    <input type="text" matInput placeholder="Email" name="email" required>
                </mat-form-field>
            </div>
            <div class="p-2">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>enter Email</mat-label>
                    <input type="text" matInput placeholder="Email" name="email" required>
                </mat-form-field>
            </div>
            <div class="p-2 mb-3">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Create Password</mat-label>
                    <input type="password" matInput placeholder="Password" name='password' required>
                </mat-form-field>
            </div>
            <div class="p-2">
                <button class="btn btn-outline-primary">Sumbit</button>
            </div>
        </div>
    </form>
</div> -->

