<!-- <app-navbar></app-navbar>
<div class="d-flex justify-content-center box">
    <mat-card class="example-card">
        <label style="font-size: 30px ;padding-bottom: 20px;">Edit Information</label>
        <mat-divider></mat-divider>
        <div class="d-flex flex-column">
            <ng-container *ngFor="let emp of empbyid">
                <div class="d-flex justify-content-around">
                    <span class="m-3">
                        <mat-form-field class="example-full-width " appearance="outline">
                            <mat-label>Employee code</mat-label>
                            <input matInput name="code" [(ngModel)]="emp.code" #code="ngModel" [disabled]="true">
                        </mat-form-field>
                    </span>

                    <span class="m-3">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Firstname</mat-label>
                            <input matInput name="fname" [(ngModel)]="emp.firstname" #firstname="ngModel">
                        </mat-form-field>
                    </span>

                    <span class="m-3">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>middlename</mat-label>
                            <input matInput name="mname" [(ngModel)]="emp.middlename" #middlename="ngModel">
                        </mat-form-field>
                    </span>

                    <span class="m-3">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Lastname</mat-label>
                            <input matInput name="lname" [(ngModel)]="emp.lastname" #lastname="ngModel">
                        </mat-form-field>
                    </span>
                </div>
                <div class="d-flex justify-content-evenly ">
                    <span>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Department</mat-label>
                            <input matInput name="department" [(ngModel)]="emp.department" #department="ngModel">
                        </mat-form-field>
                    </span>

                    <span >
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Pincode</mat-label>
                            <input matInput name="pincode" [(ngModel)]="emp.pincode" #pincode="ngModel">
                        </mat-form-field>
                    </span>
                    <span >
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Gender</mat-label>
                            <input matInput name="gender" [(ngModel)]="emp.gender" #gender="ngModel">
                        </mat-form-field>
                    </span>
                </div>
            </ng-container>
            <div class="d-flex justify-content-evenly">
                <button style="width:50%;" type="button" class="btn btn-outline-info" [routerLink]="['/employee']">Back
                    to
                    list</button>
                <button style="width:50%;" type="button" class="btn btn-outline-success"
                    (click)="openDialog('0ms', '0ms')">Delete</button>
            </div>
        </div>
    </mat-card>
</div> -->

<!-- <app-navbar></app-navbar> -->
<div class="container" style="max-width:30%;">
    <mat-card class="example-card">
        <label style="font-size: 30px ;padding-bottom: 20px;">Edit Information</label>
        <mat-divider></mat-divider>
        <div class="d-flex flex-column">
            <ng-container *ngFor="let emp of empbyid">
                <div class="d-flex flex-row justify-content-around">
                    <div class="col" style="margin-top:10px ;">
                        <span class="">
                            <mat-form-field class="example-full-width " appearance="outline">
                                <mat-label>Employee code</mat-label>
                                <input matInput name="code" [(ngModel)]="emp.code" #code="ngModel" [disabled]="true">
                            </mat-form-field>
                        </span>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-around">
                    <div class="col">
                        <span class="">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Firstname</mat-label>
                                <input matInput name="fname" [(ngModel)]="emp.firstname" #firstname="ngModel">
                            </mat-form-field>
                        </span>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-around">
                    <div class="col">
                        <span class="">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>middlename</mat-label>
                                <input matInput name="mname" [(ngModel)]="emp.middlename" #middlename="ngModel">
                            </mat-form-field>
                        </span>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-around">
                    <div class="col">
                        <span class="">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Lastname</mat-label>
                                <input matInput name="lname" [(ngModel)]="emp.lastname" #lastname="ngModel">
                            </mat-form-field>
                        </span>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-evenly ">
                    <div class="col">
                        <span>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Department</mat-label>
                                <input matInput name="department" [(ngModel)]="emp.department" #department="ngModel">
                            </mat-form-field>
                        </span>
                        <span>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Pincode</mat-label>
                                <input matInput name="pincode" [(ngModel)]="emp.pincode" #pincode="ngModel">
                            </mat-form-field>
                        </span>
                        <span>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Gender</mat-label>
                                <input matInput name="gender" [(ngModel)]="emp.gender" #gender="ngModel">
                            </mat-form-field>
                        </span>
                    </div>
                </div>
            </ng-container>
            <div class="d-flex justify-content-evenly">
                <button type="button" class="btn btn-outline-info" [routerLink]="['/employee']">Back
                    to
                    list</button>
                    <button style="width:25%;background-color: red;color: white;" type="button" class="btn btn-outline-warning"
                    (click)="openDialog('0ms', '0ms')">Delete</button>
            </div>
        </div>
    </mat-card>
</div>