<!-- <app-navbar></app-navbar> -->
<div class="container" style="width:700px; margin-top:20px ;">
    <label style="font-size: 30px ;padding-bottom: 20px;">Employee(s) Table</label>
    <table mat-table [dataSource]="employeedatabyapi" class="mat-elevation-z8 demo-table">

        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Employee Code </th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef> FullName </th>
            <td mat-cell *matCellDef="let element"> {{element.firstname+" "+element.middlename+" "+element.lastname}}
            </td>
        </ng-container>

        <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef> Department </th>
            <td mat-cell *matCellDef="let element"> {{element.department}} </td>
        </ng-container>


        <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button type="button" class="btn btn-outline-primary m-2 btn-lg"
                    [routerLink]="['/view',element.code]">{{element.btnview}}</button>
                <button type="button" class="btn btn-outline-dark m-2 btn-lg"
                    [routerLink]="['/edit',element.code]">{{element.btnedit}}</button>
                <button type="button" style="background-color: red; color:white;"
                    class="btn btn-outline-warning m-2 btn-lg"
                    [routerLink]="['/deleteemp',element.code]">{{element.btndelete}}</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>